*{
    margin: 0px;
    padding: 0px;
}



/* Carasoul starts */


.carousel-main{
  border: 2px solid green;
  /* margin-left: 50px; */
    width: 100%;
  }

.carousel-item img{
    height: 400px;
    background-size: contain;
}
  /* carasoul ends */


/* Sign up starts here */
.signup-form{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.signup-head{
  color: teal;
  text-align: center;
  margin-top: 25px;
  text-decoration: underline;
}
/* Sign up ends */



   /* Login */
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  #form-signin {
    width: 100%;
  }
  
  #form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  
  /* login ends */

  


 /* destination pics */
 .destination{
   border-left: 1px solid green;
   /* border-right: 1px solid green; */
   border-top: 5px solid green;
   margin-top: 50px;
   height: 500px;
 }
 .heading{
   
   margin-left:450px ;
   
 }
 .destImage{
   width: 305px;
   height: 171px;
   float: left;
   margin-right: 20px;
   margin-top: 20px;
 }
 /* destination pics ends */

/* dist heads */

.dist-details{
  margin: 20px;
  border: 2px solid green;
  background-color: rgb(211, 240, 240);
}
.dist-heading{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 50px;
text-align: center;
color: green;
}
.dist-head-capt{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color: violet;
  padding: 10px;
  
}
.dist-brief{
  margin: 10px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 /* district */
     .card-district{
  border: 1px solid green;
  width: 23%;
  height: 32em;
  float: left;
  margin-left: 20px;
  padding-left: 1px;
  padding-right: 0px;
  margin-top: 20px;
}
.card-img-top{
 /* width: 100%;
 height: 50vh; */
 /* object-fit: cover; */
 width: 305px;
   height: 171px;
   float: left;
   margin-right: 20px;
   margin-top: 1px;
}

.top-destination{
  margin: 20px;
  border: 30px solid royalblue;
  text-align: center;
}

/* district page destination */
.card-title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: green;
  text-align: center;

}

.card-text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: blueviolet;
  font-size: 15px;
  text-align: left;
  padding: 1px;
}

/* district ends */


/* Navbar */
.navbar{
  background-color: green;

  
}

.nav-item{
  margin-left: 25px; 
  align-items: center;
  
}

/* Navbar ends */



/* side map */
.side-map{
  border: 1px solid green;
  width: 210px;
  height: 405px;
  
}
.map-img{
  margin-left: 0px
}

/* side map ends */

/* Footer */

/* footer ends */